NEXT_PUBLIC_MODE=production
NEXT_PUBLIC_SITE_URL=https://aerocrm.space
NEXT_PUBLIC_APP_URL=https://workspace.aerocrm.space
NEXT_PUBLIC_MAIN_APP_URL=https://aerocrm.space
NEXT_PUBLIC_PRODUCTION_HOST=https://api.aerocrm.space
NEXT_PUBLIC_API_URL=https://api.aerocrm.space/api/v1
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
NEXT_PUBLIC_CRM_BILLING_ENABLED=true
APP_REVISION=
